# Auto detect text files and perform LF normalization
* text=auto

# Force LF for code files
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.liquid text eol=lf
*.css text eol=lf

# Treat CSVs as binary to avoid line ending munging
*.csv -text
